/* bm_core/css/theme-switcher.css */
:root {
  color-scheme:system;
}

html[data-theme="dark"] {
  color-scheme:dark;
}

html[data-theme="light"] {
  color-scheme:light;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]):not([data-theme="dark"]) {
  }
}


/* Demo layout moved to ThemeSwitcherDemoForm.css */
