.bm-tooltip-demo-admin-form {
  .fieldset {
    .fieldset__label {
      border-bottom: 1px solid var(--input-border-color);
      background: var(--color-gray-050);
    }
    .form-wrapper {
      display: grid;
      grid-template-columns:500px 500px;
      gap:1em;
      input{
        height: 2em;
        width: 400px;
        padding: 1em;
        border: 1px solid var(--input-border-color);
      }
      button{
        background-color: var(--button--active-bg-color--primary);
        color: var(--button-fg-color--primary);
      }
      code {
        font-family: 'system-ui', sans-serif;
        font-size: 0.9em;
        padding: 20px;
        margin-block: var(--space-m);
        color: var(--color-text);
        border: var(--details-border-size) solid var(--details-border-color);
        border-radius: var(--details-border-size-radius);
        background-color: var(--color-white);
        box-shadow: var(--details-box-shadow);
      }
    }
  }
}
